:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 50rem;
  --bs-link-color: #0d6efd;
  --bs-link-hover-color: #0a58ca;
  --bs-code-color: #d63384;
  --bs-highlight-bg: #fff3cd;
  --bs-secondary-color: rgba(173, 181, 189, 0.75);
}

[dir=rtl] .floating-label > input + label,
[dir=rtl] .floating-label > textarea + label {
  right: 0;
  left: auto !important;
}
[dir=rtl] .floating-label > input:not([placeholder]):not([value]) + label,
[dir=rtl] .floating-label > textarea:not([placeholder]):empty + label, [dir=rtl] .floating-label > input[placeholder]:not(:placeholder-shown) + label,
[dir=rtl] .floating-label > textarea[placeholder]:not(:placeholder-shown) + label, [dir=rtl] .floating-label > input:-webkit-autofill + label,
[dir=rtl] .floating-label > textarea:-webkit-autofill + label, [dir=rtl] .floating-label > input:focus + label,
[dir=rtl] .floating-label > textarea:focus + label, [dir=rtl] .floating-label > select + label {
  right: 0.5rem;
  left: auto !important;
}

.floating-label {
  position: relative;
}

.floating-label > select + label {
  position: absolute;
  z-index: 5;
  max-width: calc(100% - $input-border-width * 2);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  left: 0.5rem;
  padding: 0 0.3rem;
  line-height: 1.25;
  color: inherit;
  background-color: transparent;
  border-radius: 0.375rem;
}

.floating-label > select + label,
.floating-label > select + label.label-sm {
  top: -0.65625rem;
  font-size: 0.8rem;
}
.floating-label > select + label.label-md {
  top: -0.75rem;
  font-size: 1rem;
}
.floating-label > select + label.label-lg {
  top: -0.9375rem;
  font-size: 1.25rem;
}

.floating-label > input + label,
.floating-label > textarea + label {
  position: absolute;
  z-index: 5;
  max-width: calc(100% - $input-border-width * 2);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  top: var(--bs-border-width);
  left: var(--bs-border-width);
  font-size: 1rem;
  padding: 0.375rem 0.75rem;
  color: var(--bs-secondary-color);
  pointer-events: none;
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.floating-label > input.form-control-sm + label,
.floating-label > textarea.form-control-sm + label {
  font-size: 0.875rem;
  padding: 0.25rem 0.5rem;
}
.floating-label > input.form-control-lg + label,
.floating-label > textarea.form-control-lg + label {
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
}
.floating-label > input::placeholder,
.floating-label > textarea::placeholder {
  color: transparent;
  transition: color 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.floating-label > label + input::placeholder,
.floating-label > label + textarea::placeholder {
  color: var(--bs-secondary-color);
}
.floating-label > input:focus::placeholder,
.floating-label > textarea:focus::placeholder {
  color: var(--bs-secondary-color);
}
.floating-label > input:focus + label,
.floating-label > textarea:focus + label {
  position: absolute;
  z-index: 5;
  max-width: calc(100% - $input-border-width * 2);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  left: 0.5rem;
  padding: 0 0.3rem;
  line-height: 1.25;
  color: inherit;
  background-color:transparent;
  border-radius: 0.375rem;
}
.floating-label > input:focus + label,
.floating-label > input:focus + label.label-sm,
.floating-label > textarea:focus + label,
.floating-label > textarea:focus + label.label-sm {
  top: -1rem;
  font-size: 0.8rem;
}
.floating-label > input:focus + label.label-md,
.floating-label > textarea:focus + label.label-md {
  top: -1rem;
  font-size: 0.8rem;
}
.floating-label > input:focus + label.label-lg,
.floating-label > textarea:focus + label.label-lg {
  top: -1rem;
  font-size: 0.8rem;
}

.floating-label > input:-webkit-autofill + label,
.floating-label > textarea:-webkit-autofill + label {
  position: absolute;
  z-index: 5;
  max-width: calc(100% - $input-border-width * 2);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  left: 0.5rem;
  padding: 0 0.3rem;
  line-height: 1.25;
  color: inherit;
  background-color: transparent;
  border-radius: 0.375rem;
}
.floating-label > input:-webkit-autofill + label,
.floating-label > input:-webkit-autofill + label.label-sm,
.floating-label > textarea:-webkit-autofill + label,
.floating-label > textarea:-webkit-autofill + label.label-sm {
  top: -0.65625rem;
  font-size: 0.875rem;
}
.floating-label > input:-webkit-autofill + label.label-md,
.floating-label > textarea:-webkit-autofill + label.label-md {
  top: -0.75rem;
  font-size: 1rem;
}
.floating-label > input:-webkit-autofill + label.label-lg,
.floating-label > textarea:-webkit-autofill + label.label-lg {
  top: -0.9375rem;
  font-size: 1.25rem;
}

/* 플로팅이 끝난 경우  */
.floating-label > input[placeholder]:not(:placeholder-shown) + label,
.floating-label > textarea[placeholder]:not(:placeholder-shown) + label {
  position: absolute;
  z-index: 5;
  max-width: calc(100% - $input-border-width * 2);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  left: 0.5rem;
  padding: 0 0.3rem;
  line-height: 1.25;
  color: inherit;
  background-color:transparent;/*var(--bs-body-bg);*/
  border-radius: 0.375rem;
  
}
.floating-label > input[placeholder]:not(:placeholder-shown) + label,
.floating-label > input[placeholder]:not(:placeholder-shown) + label.label-sm,
.floating-label > textarea[placeholder]:not(:placeholder-shown) + label,
.floating-label > textarea[placeholder]:not(:placeholder-shown) + label.label-sm {
  top: -1rem;
  font-size: 0.8rem;
}
.floating-label > input[placeholder]:not(:placeholder-shown) + label.label-md,
.floating-label > textarea[placeholder]:not(:placeholder-shown) + label.label-md {
  top: -1rem;
  font-size: 0.8rem;
}
.floating-label > input[placeholder]:not(:placeholder-shown) + label.label-lg,
.floating-label > textarea[placeholder]:not(:placeholder-shown) + label.label-lg {
  top: -1;
  font-size: 0.8rem;
}

.floating-label > input:not([placeholder]):not([value]) + label,
.floating-label > textarea:not([placeholder]):empty + label {
  position: absolute;
  z-index: 5;
  max-width: calc(100% - $input-border-width * 2);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  left: 0.5rem;
  padding: 0 0.3rem;
  line-height: 1.25;
  color: inherit;
  background-color:transparent;
  border-radius: 0.375rem;
}

.floating-label > input:not([placeholder]):not([value]) + label,
.floating-label > input:not([placeholder]):not([value]) + label.label-sm,
.floating-label > textarea:not([placeholder]):empty + label,
.floating-label > textarea:not([placeholder]):empty + label.label-sm {
  top: -1rem;
  font-size: 0.8rem;
}
.floating-label > input:not([placeholder]):not([value]) + label.label-md,
.floating-label > textarea:not([placeholder]):empty + label.label-md {
  top: -1rem;
  font-size: 0.8rem;
}
.floating-label > input:not([placeholder]):not([value]) + label.label-lg,
.floating-label > textarea:not([placeholder]):empty + label.label-lg {
  top: -1rem;
  font-size: 0.8rem;
}

.input-group > .floating-label {
  flex: 1;
}
.input-group > .floating-label > .form-control,
.input-group > .floating-label > .form-select {
  position: relative;
}
.input-group > .floating-label > .form-control:focus,
.input-group > .floating-label > .form-select:focus {
  z-index: 3;
 
}
.input-group > .floating-label:not(:first-child) > .form-control,
.input-group > .floating-label:not(:first-child) > .form-select {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-group > .floating-label:not(:last-child) > .form-control,
.input-group > .floating-label:not(:last-child) > .form-select {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}